<div class="text-center my-4">
  <h4>予約内容確認</h4>
</div>
<div class="row mx-5 bg-light p-4">
  <div class="col-sm-6 offset-sm-3">
    <div class="mb-1">
    <label>予約者名</label>:
        <%= @user.name%>
    </div>

    <div class="mb-1">
    <label>予約者電話番号</label>:
        <%= @user.email%>
    </div>

    <div class="mb-1">
    <label>開始時間</label>:
        <%= @scout.start_time%>
    </div>
    <div class="mb-1">
    <label>値段</label>:
        <%= @scout.price%>円
    </div>
    <div class="mb-1">
    <label>お酒</label>:
        <%= @scout.beer%>
    </div>
    <div class="mb-1">
    <label>提供内容</label>:<br>
        <%= @scout.content%>
    </div>
    
    <div class="mb-1">
    <label>メッセージ</label>:<br>
        <%= @scout.hope %>
    </div>
    
  </div>
</div>
