<div class="p-4 form-group">
  <%= form_with(url: request_controller_update_path,method: :put, local: true) do |f| %>
    <%= f.hidden_field :id, :value => params[:id]  %>
    
    <%= f.label :hope, '要望を入力してね！' %><br>
    <%= f.text_field :hope,class: "form-control" %>

    <%= f.submit '送信' ,class: "btn btn-primary mt-5"%>
  <% end %>
</div>