<div class="text-center my-4">
  <h4><%= @scout_template.name%></h4>
</div>
<div class="mx-4">
  <div class="bg-light text-center py-3">
    <div class="mb-1">
    <label>予算</label>:
        <%= @scout_template.price %>
    </div>
    <div class="mb-1">
    <label>お酒</label>:
        <%= @scout_template.beer %>
    </div>
    <div class="mb-1">
        <label>席時間</label>:
        <%= @scout_template.drink_time %>
    </div>
    <div class="mb-1">
        <label>開始時間</label>:
        <%= @scout_template.start_time %>
    </div>
     
     <div class="mb-1">
        <label>内容</label>:
        <%= @scout_template.content %>
    </div>

    <div class="mb-1">
        <label>メッセージ</label>:
        <%= @scout_template.hope %>
    </div>
    
  </div>
</div>
<div class="text-center mt-3">
<%= link_to '一覧へ',scout_templates_path(res_id: @res.id) %>
<%= link_to '編集',edit_scout_template_path(id: @scout_template.id),class: "ml-3" %>
</div>