<div class="text-center m-4">
  <h3>店情報登録</h3>
</div>

<div class="row mx-4 text-center">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @info,url: restaurant_information_index_path,method: :post,  local: true) do |f| %>
      
      <div class="form-group">
        <%= f.label :name, '店舗名（例：よってく すすきの店）' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :phone_number, '電話番号' %>
        <%= f.telephone_field :phone_number, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :category, '店のカテゴリー（1つのみ）' %><br>
        
        <%= f.radio_button :category_id,:"1" %>
        <%= f.label :category, '肉系' %><br>
        <%= f.radio_button :category_id,:"2" %>
        <%= f.label :category, '魚介系' %><br>
        <%= f.radio_button :category_id,:"3" %>
        <%= f.label :category, 'イタリアン' %><br>

      </div>
      
      <div class="form-group">
        <%= f.label :menu, '一押しメニュー' %>
        <%= f.text_field :menu, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :price_min, '平均予算' %>
        <%= f.number_field :price_min, class: 'form-control' %>~
        <%= f.number_field :price_max, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :address, '住所' %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :url, 'URL' %>
        <%= f.url_field :url, class: 'form-control' %>
      </div>
     
      <%= f.submit '登録', class: 'btn btn-info btn-block mt-5' %>
    <% end %>
  </div>
</div>