<div class="text-center my-4">
  <h4>店情報</h4>
</div>
<div class="mx-4">
  <div class="bg-light">
    <div class="mb-1">
    <label>一押しメニュー</label>:
        <%= @info.menu%>
    </div>
    <div class="mb-1">
    <label>平均予算</label>:
        <%= @info.price_min %>~<%= @info.price_max %>
    </div>
    <div class="mb-1">
    <label>住所</label>:
        <%= @info.address %>
    </div>
    <div class="mb-1">
        <label>URL</label>:
        <%= @info.url %>
    </div>
  </div>
</div>
<div class="text-center mt-3"><%= link_to "編集",edit_restaurant_information_path(id: params[:id])%></div>
